<div class="wrapper">
       
            <h1>My news</h1>
     




      <!--  <iframe seamless width="49%" height="400px" src="http://m.chosun.com" name="frametest1" id="frametest1" scolling="yes">testiframe</iframe>
        <iframe seamless width="49%" height="400px" src="http://m.mk.co.kr" name="frametest2" id="frametest2" scolling="yes">testiframe</iframe> -->
    </div>



<div>
        <div>
            <table>
            <caption> 신문사별 특징 </caption>
                <thead>
                    <tr>
                        <th scope="col">신문명</th>
                        <th scope="col">창간일</th>
                        <th scope="col">특징</th>
                        <th scope="col">1면모양</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="paper">조선일보</td>
                        <td data-label="established">1920년 03월 05일</td>
                        <td data-label="feature">
                            <ul type="circle ">
                                <li>2014년 시사저널 ‘누가 한국을 움직이는가’ 전문가 설문조사의 언론 매체 영향력 및 신뢰도·열독률 조사 결과 ‘가장 영향력 있는 언론 매체’ 순위 조사에서 KBS와 조선일보의 양강 체제가 굳건하였다. </li>
                                <li>한국ABC협회가 2013년 발행·유료 부수 현황을 공개한 자료에서 조선일보는 177만부의 공식 발행 부수를 가진 국내 최대 신문이자, 국내에서 유일하게 유료부수 100만부가 넘는 신문으로 확인되었다. '조선일보'는 발행 부수 176만9310부로 압도적인 1위를 차지했다.</li>
                            </ul>
                        </td>
                         <td data-label="firstpage"><img src="http://www.mediaus.co.kr/news/photo/201402/40027_90346_501.jpg" style="max-width: 70%; height: auto; ">
                      </td>
                     </tr>
                <tr>
                        <td scope="row" data-label="paper">경향신문</td>
                        <td data-label="established">1946년 10월 06일</td>
                        <td data-label="feature"><ul type="circle">
                            <li>본사는 서울특별시 중구 정동길3에 소재해 있으며, 현재 진보 언론 중 열독률 1위로 진보성향의 대표적인 언론으로 간주되고 있다. 2009년 한국기자협회의 언론인 대상 여론조사에서 공정성 부분에서 경향신문이 1위를 차지했으며, 신뢰도와 영향력으로는 각각 2위, 6위로 꼽혔다.</li>
                            <li> 1998년에 사원주주회사로 독립한 이후부터는 진보와 개혁세력의 목소리를 대변하고, 여러 사설, 칼럼, 기사 등에서 진보 성향을 띄는 신문이 되었다.</li>
                            </ul>
                            </td>
                        <td data-label="firstpage"><img src="http://cfs9.tistory.com/original/27/tistory/2008/06/06/18/28/4849035b624da
                                    " style="max-width: 70%; height: auto; "></td>
                </tr>
                
                <tr>
                        <td scope="row" data-label="paper">매일경제</td>
                        <td data-label="established">1966년 03월 24일</td>
                        <td data-label="feature"><ul type="circle ">
                            <li>본사는 서울특별시 중구 퇴계로 190번에 소재하며, 매일경제신문 본사 사옥은 남산골 한옥마을 및 한국의 집과 마주보고 있다.(충무로역 하차)</li>
                            <li>자매지로서 경제 주간지인 매경이코노미 및 생활 정보지 시티 라이프가 있다.</li>
                            </ul>
                            </td>
                        <td data-label="firstpage"><img src="http://a3.mzstatic.com/us/r30/Purple/v4/b8/a6/64/b8a6645b-4ef3-4655-46fe-de6dc903baee/screen480x480.jpeg
                            " style="max-width: 70%; height: auto; "></td>
                </tr>
                <tr>
                            <td scope="row" data-label="paper">스포츠조선</td>
                            <td data-label="established">1990년 03월 21일</td>
                            <td data-label="feature">
                                <ul type="circle ">
                                    <li>조선일보의 자매지</li>
                                    <li>1면부터 12면 ~ 14면은 스포츠 관련 기사가 주를 이루고 이후의 면은 연예, 방송, 오락, 문화, 만화 등을 담고 있다.</li>
                                </ul>
                            </td>
                            <td data-label="firstpage"><img src="http://ph.mediatoday.co.kr/news/photo/200602/42305-2-41227.jpg
                            " style="max-width: 70%; height: auto; "></td>
                            <tr>
                                <td scope="row" data-label="paper">대학신문(서울대학교)</td>
                                <td data-label="established">1952년 02월 04일</td>
                                <td data-label="feature">
                                    <ul type="circle ">
                                        <li>6.25사변 중에 발간됨</li>
                                        <li>특이하게 신문 이름이 '서울대신문'이 아니라 '대학신문'임</li>
                                </td>
                                <td data-label="firstpage"><img src="http://147.46.10.58/upload/with_notice/news.gif " style="max-width:
                            100%; height: auto; "></td>
                            </tr>
                </tbody>
            </table>
            <div style="background-color:#DDBBBB; margin-top:20px; ">출처 : 각 신문사 홈페이지, 위키피디아
            </div>

        </div>
    </div>









    <div class="wrapper2">
        <div class="newsContents">
            <table border=5px>
                <thead>
                    <tr>
                        <th>신문명</th>
                        <th>창간일</th>
                        <th>특징</th>
                        <th>1면모양</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table_row_even">
                        <td style="width: 100px">조선일보</td>
                        <td style="width: 150px">1920년 03월 05일</td>
                        <td style "width: 50%'>
                            <ul type="circle ">
                                <li>2014년 시사저널 ‘누가 한국을 움직이는가’ 전문가 설문조사의 언론 매체 영향력 및 신뢰도·열독률 조사 결과 ‘가장 영향력 있는 언론 매체’ 순위 조사에서 KBS와 조선일보의 양강 체제가 굳건하였다. </li>
                                <li>한국ABC협회가 2013년 발행·유료 부수 현황을 공개한 자료에서 조선일보는 177만부의 공식 발행 부수를 가진 국내 최대 신문이자, 국내에서 유일하게 유료부수 100만부가 넘는 신문으로 확인되었다. '조선일보'는 발행 부수 176만9310부로 압도적인 1위를 차지했다.</li>
                            </ul>
                        </td>
                         <td style="text-align: center "><img src="http://www.mediaus.co.kr/news/photo/201402/40027_90346_501.jpg" style="max-width: 70%; height: auto; ">
                      </td>
                     </tr>
                <tr class="table_row_odd">
                        <td>경향신문</td>
                        <td>1946년 10월 06일</td>
                        <td><ul type="circle">
                            <li>본사는 서울특별시 중구 정동길3에 소재해 있으며, 현재 진보 언론 중 열독률 1위로 진보성향의 대표적인 언론으로 간주되고 있다. 2009년 한국기자협회의 언론인 대상 여론조사에서 공정성 부분에서 경향신문이 1위를 차지했으며, 신뢰도와 영향력으로는 각각 2위, 6위로 꼽혔다.</li>
                            <li> 1998년에 사원주주회사로 독립한 이후부터는 진보와 개혁세력의 목소리를 대변하고, 여러 사설, 칼럼, 기사 등에서 진보 성향을 띄는 신문이 되었다.</li>
                            </ul>
                            </td>
                        <td style="text-align: center "><img src="http://cfs9.tistory.com/original/27/tistory/2008/06/06/18/28/4849035b624da
                                    " style="max-width: 70%; height: auto; "></td>
                </tr>
                
                <tr class="table_row_even">
                        <td>매일경제</td>
                        <td>1966년 03월 24일</td>
                        <td><ul type="circle ">
                            <li>본사는 서울특별시 중구 퇴계로 190번에 소재하며, 매일경제신문 본사 사옥은 남산골 한옥마을 및 한국의 집과 마주보고 있다.(충무로역 하차)</li>
                            <li>자매지로서 경제 주간지인 매경이코노미 및 생활 정보지 시티 라이프가 있다.</li>
                            </ul>
                            </td>
                        <td style="text-align: center "><img src="http://a3.mzstatic.com/us/r30/Purple/v4/b8/a6/64/b8a6645b-4ef3-4655-46fe-de6dc903baee/screen480x480.jpeg
                            " style="max-width: 70%; height: auto; "></td>
                </tr>
                <tr class="table_row_odd">
                            <td>스포츠조선</td>
                            <td>1990년 03월 21일</td>
                            <td>
                                <ul type="circle ">
                                    <li>조선일보의 자매지</li>
                                    <li>1면부터 12면 ~ 14면은 스포츠 관련 기사가 주를 이루고 이후의 면은 연예, 방송, 오락, 문화, 만화 등을 담고 있다.</li>
                                </ul>
                            </td>
                            <td style="text-align: center "><img src="http://ph.mediatoday.co.kr/news/photo/200602/42305-2-41227.jpg
                            " style="max-width: 70%; height: auto; "></td>
                            <tr class="table_row_even">
                                <td>대학신문(서울대학교)</td>
                                <td>1952년 02월 04일</td>
                                <td>
                                    <ul type="circle ">
                                        <li>6.25사변 중에 발간됨</li>
                                        <li>특이하게 신문 이름이 '서울대신문'이 아니라 '대학신문'임</li>
                                </td>
                                <td style="text-align: center "><img src="http://147.46.10.58/upload/with_notice/news.gif " style="max-width:
                            100%; height: auto; "></td>
                            </tr>
                </tbody>
            </table>
            <div style="background-color:#DDBBBB; margin-top:20px; ">출처 : 각 신문사 홈페이지, 위키피디아
            </div>

        </div>
    </div>
    <p>더 필요한 정보는 dgssh@snu.ac.kr 로 연락주시기 바랍니다.</p>