/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);



*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}
#nav-btn{
  fill:white;
  height:40px;
  position:absolute;
  right:10px;
  top:7px;
  display:none;
}
.vertical-line{
    margin-top:30px;
    margin-bottom:30px;
    width:35px;
    border-bottom:#F7F7F7 4px solid;
}

p{
    white-space: pre-line;
}

body {
    /*font-family: "Open Sans", sans-serif;*/
    /*line-height: 1.25;*/
    
    /*font-family: 'Nanum Gothic', serif;*/
    
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232525;
}

aside{
    position:fixed;
    float:left;
    width:205px;
    padding-top:30px;
    padding-left:25px;
    top:0;
    bottom:0;
    background-color:#474958;
    z-index:400;
}

header{
    float:left;
    width:calc(93% - 230px);
    width:-moz-calc(93% - 230px);
    width:-webkit-calc(93% - 230px);
    padding-left:calc(230px + 7%);
    padding-left:-moz-calc(230px + 7%);
    padding-left:-webkit-calc(230px + 7%);
    padding-top:30px;
    padding-bottom:30px;
    background-color:rgba(247, 247, 247, .9);
    border-bottom:#2b99ff 2px solid;
    position:fixed;
    z-index:300;
}

article{
    float:left;
    
    margin-left: calc(230px + 9%);
    margin-left: -moz-calc(230px + 9%);
    margin-left: -webkit-calc(230px + 9%);
    
    margin-right: 9%;
    padding-top:200px;
    
    width:calc(82% - 230px);
    width:-moz-calc(82% - 230px);
    width:-webkit-calc(82% - 230px);
    
    padding-bottom: 150px;
}

nav{
  display:block;
}

nav ul{
}

nav ul li{
    line-height:30px;
}

nav ul li a{
    color:#e3e2e2;
}

nav ul li a:hover{
    color:#2b99ff;
}

#products{
    padding-top:10px;
    font-weight:bold;
    color:#F7F7F7;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    margin-bottom:50px;
    font-size: 1.5em;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:2.4em;
    font-weight:bold;
    color:#474958;  
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;
}











table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}







@media screen and (orientation : portrait) {
    h2{
    font-size:2em;
  }
  aside{
        float:left;
        width:95%;
        padding-left: 5%;
        position:relative;
        float:left;
        padding-top: 10px;
        padding-bottom:10px;
    }
    header{
        float:left;
        position:relative;
        width:95%;
        padding-left:5%;
    }
    nav{
      display:none;
  }
  #nav-btn{
    fill:white;
    height:40px;
    width:40px;
    position:absolute;
    right:7px;
    top:7px;
    display:block;
    cursor: pointer;
  }
    h1{
        margin-bottom: 0px;
    }
    .vertical-line {
        margin-top: 20px;
        margin-bottom: 20px;
    display:none;
    }
    #products {
        padding-top: 0;
    }
    article{
        float:left;
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top:50px;
    }








    table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}



