/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);


body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    padding:20px;
    /*font-family: 'Nanum Gothic', serif;*/
    background-color: white;
  
}
p{
	white-space: pre-line;
}

.header {
    background-color: #115599;
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRHJ_HGchkBXCIxjF3xTynmsMwG4aEnMbgLha-B-OZlsEvZ70Eueg');
    background-position: center;
    background-size: 20%;
    padding: 0px;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}


.wrapper {
    background-color: oldlace;
    margin-bottom:10px;
	padding:10px;
    max-width : 80%;

}

.wrapper2 {
    background-color: #FF0000;
    margin-bottom:10px;
	padding:10px;
    max-width : 80%;

}

.newsContents{
    background-color: #FF9364;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Nanum Pen Script', serif;
    font-size: 30px;
}

.mobileNewsFrame{
    margin-top:10px;
    margin-bottom:20px;
    padding: 10px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

/*table {
	border:1px solid #FF9364;
	margin:auto;
	vertical-align:top;
	border-collapse:collapse;
}*/
h1{
    text-align:center; 
    color:#FF0000; 
    font-size:20px;
}
h2 {
	color:black;

}

.table_row_odd {
    color: white;
	background-color:darkgreen;
}

.table_row_even {
    color: black;
	background-color:lightgreen;
}
    
.sidebar {
    background-color: sandybrown;
    position: fixed;
    right: 0px;
    width: 15%;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top:70px;
    float: right;
    border: 0px solid #bcbcbc;
    font-family: 'Jeju Hallasan', serif;
    }

.border {
     border-radius: 20px;     
 }    

.topbar{
    position: fixed;
    background-color: powderblue;
    top: 0px;
    height: 70px;
    padding: 0px;
}

#topContents{
    color:crimson; 
    font-size: 16px; 
    text-align: center;
    font-family: 'Nanum Gothic', serif;
}

ul.mylist {
    margin: 0px;
    padding: 0px;
    max-width: 200px;
    width: 100%;
}

ul.mylist li {
    list-style: none;
    border-bottom: 0px ;
    font-size: 20px;
    margin-bottom: 20px;
}
ul.mylist_inner li {
    list-style: none;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    margin: 4px;
}


